@using İdentity.ViewModels.Account
@model AccountForgotPasswordVM
@{
    Layout = "_Layout";
}
<form method="post" asp-action="forgotpassword" asp-controller="account" class="login100-form validate-form">
    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
         FOrgot Password
    </span>
    <div asp-validation-summary="All"></div>
    <div class="wrap-input100 validate-input">
        <input asp-for="Email" class="input100" placeholder="Email">
        <span asp-validation-for="Email"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Send 
        </button>
    </div>

    <div class="text-center p-t-90">
        <a asp-action="register" asp-controller="account" class="txt1">
            Don't have an account?
        </a>
    </div>
</form>