@using İdentity.ViewModels.Account
@model AccountRegisterVM
@{
    Layout = "_Layout";
}
<form method="post" asp-action="register" asp-controller="Account" class="login100-form validate-form">
    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
        Sign up
    </span>
    <div asp-validation-summary="All"></div>
    <div class="wrap-input100 validate-input">
        <input asp-for="EmailAddress" class="input100" placeholder="Email">
        <span asp-validation-for="EmailAddress"></span>
    </div>

    <div class="wrap-input100 validate-input">
        <input asp-for="Password" class="input100" placeholder="Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="wrap-input100 validate-input">
        <input asp-for="ConfirmPassword" class="input100" placeholder="Confirm Password">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="wrap-input100 validate-input">
        <input asp-for="Country" class="input100" placeholder="Enter Country">
        <span asp-validation-for="Country"></span>
    </div>
    <div class="wrap-input100 validate-input">
        <input asp-for="City" class="input100" placeholder="Enter City">
        <span asp-validation-for="City"></span>
    </div>

    <div class="contact100-form-checkbox">
        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
        <label class="label-checkbox100" for="ckb1">
            Remember me
        </label>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Sign Up
        </button>
    </div>

    <div class="text-center p-t-90">
        <a asp-action="login" asp-controller="account" class="txt1">
            Already have an account?
        </a>
    </div>
</form>