@using İdentity.ViewModels.Account
@model AccountResetPasswordVM
@{
    Layout = "_Layout";
    string email = Context.Request.Query["email"];
    string token = Context.Request.Query["token"];
}
<form method="post" asp-action="resetpassword" asp-controller="account" class="login100-form validate-form">
    <span class="login100-form-logo">
        <i class="zmdi zmdi-landscape"></i>
    </span>

    <span class="login100-form-title p-b-34 p-t-27">
        Reset Password
        <input value="@email" type="hidden" asp-for="EmailAddress" />
        <input value="@token" type="hidden" asp-for="Token" />
    </span>
    <div asp-validation-summary="All"></div>
    <div class="wrap-input100 validate-input">
        <input asp-for="NewPassword" class="input100" placeholder="New Password">
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="wrap-input100 validate-input">
        <input asp-for="ConfirmNewPassword" class="input100" placeholder="Confirm New Password">
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>

    <div class="container-login100-form-btn">
        <button class="login100-form-btn">
            Confirm
        </button>
    </div>

    <div class="text-center p-t-90">
        <a asp-action="register" asp-controller="account" class="txt1">
            Don't have an account?
        </a>
    </div>
</form>